/* Add spacing around the table using margin */
table {
    
    border: 1px groove; /* You can adjust this value to your desired distance */
  }
  
  /* Optional: Add spacing within the table cells using padding */
  td,th{
    padding: 10px;;
    content: center;
     /* You can adjust this value to your desired distance */

     border: 1px solid;
  }
  tr{
     text-align: center;
  }


  @media (max-width:768px){
   .table td, .table th{
      font-size: 14px;
      padding :2px;
   }
  }


  .container{
   display: flex;
   justify-content: center;
   align-items: center;
  
  }
  