<!-- <h1> This is the {{title}}</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestias commodi fuga magnam labore, fugiat ratione reprehenderit quisquam rem alias totam ad consectetur sapiente mollitia? Animi aliquam odit exercitationem quas.</p>
<P> {{var1}}</P>
<p> {{var2}}</p>

    <div *ngFor = "let i of var3;let inx=index" > {{i}}  <button class = "btn btn-danger" (click) = "onClick(inx)">Delete</button> </div>
    

<label>Enter your name :</label>
<input  type = "text" placeholder="Please enter your name" id = "demo1" ><br>
<button id = "demo"  type = "submit" (click) = "change()">submit</button>
  <form #myForm="ngForm">
    <input type="text" name="firstName" [(ngModel)]="user.firstName">
    <input type="text" name="lastName" [(ngModel)]="user.lastName">
  </form>  -->
  <!-- <form #user= "ngForm"  (ngSubmit) = "onSubmit(user)" >
    <label  for = "firstName" > Enter your first name</label>
    <input  ngModel placeholder="Enter your first name"  id = "firstName "  name = "firstName" 
     required><br>
    <button type = "submit" >submit</button>

    
  </form> --> 

  <!-- <h1> This is the {{title}}</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestias commodi fuga magnam labore, fugiat ratione reprehenderit quisquam rem alias totam ad consectetur sapiente mollitia? Animi aliquam odit exercitationem quas.</p>
  <P> {{var1}}</P>
  <p> {{var2}}</p>
  <div *ngFor = "let i of var3;let inx=index" > {{i}}  <button class = "btn btn-danger" (click) = "onClick(inx)">Delete</button> </div>

  
      
    <label > Enter your name</label>
   <input type = "text" [formControl] = "favoriteColorControl"> -->
   <!-- <div class = "form-group">
   <form #user= "ngForm"  (ngSubmit) = "onSubmit(user)" class="form-control" >

    <div ngModelGroup = "personDetails">
    <label  for="firstName" > Enter your first name</label>
    <input type = "text"  id = "fname"  name = "fname"  class = "form-control" minlength = "4" [(ngModel)] = "FirstName" appForbiddenName = "Bob"   (ngSubmit) = "onSubmit(user)"  required  #fname = "ngModel">
    <div>
      <small  *ngIf = "fname.invalid && fname.touched">*Please enter your first name minimum length should be 4 </small>
      <span *ngIf = "FirstName" this.var3.push(FirstName)> You have entered your first name as {{FirstName}}</span></div>
     <br>                                                                                                         

    <label  for="lastName" > Enter your last name</label>
    <input type = "text"  id = "lname"  name = "lname"  class = "form-control" minlength = "4" ngModel appForbiddenName = "Bob"   required #lname = "ngModel">
    <div><small *ngIf = "lname.invalid && lname.touched">Please enter your last name</small></div></div><br>

    <label  for="Age" > Enter your age</label>
    <input type = "number" id = "Age" name = "Age" class = "form-control"  minlength="1" ngModel   required  ><br>


    <label  for="email" > Enter your email</label>
    <input type = "email" id = "email" name = "email" class = "form-control" required valid  ngModel >
     <button type = "Submit">submit</button>  </form>    
 [disabled]=" !user.valid" -->



    <!-- <div *ngIf = "fname.invalid  && (fname.dirty || fname.touched) " class = "alert">

    <div *ngIf = "fname.errors?.['required']">Name is required</div>

    <div *ngIf = "fname.errors?.['minlength']">
      Name must be contain at least 4 character.
    </div>

    <div *ngIf = "fname.errors?.['appForbiddenName']">
      Name cannot be Bob.
    </div>
    <div *ngIf = "fname.errors?.['alnum']"></div>



   </div> --> 


<!--     
    <div> <app-mycomponent></app-mycomponent></div>
    <div><mycomponents-todos></mycomponents-todos></div> -->


  



  
   
    

  <div> <app-tdform></app-tdform></div>

  
  <div><app-rforms></app-rforms></div>
 
