
<div class = "container">
  <h1 class="text-center"> 
    Todo list 
  </h1>
</div>
  
<!-- <nav>
  <ul>
      <li  [routerLinkActive]="'active'"  [routerLinkActiveOptions] = "{exact:true}"> <a routerLink = "container">Home</a></li>
      <li  [routerLinkActive]="'active'"><a routerLink="create" > Create Todos</a></li>
      <li  routerLinkActive="active" > <a [routerLink]="'list'">Todos list</a></li>
  </ul>
</nav> -->

<nav> <!--class="navbar navbar-expand-lg navbar-light bg-light -->
   <!-- <ul class = "navbar-nav"> -->
    <ul>
      <li class = "nav-item"> <a routerLink = "container">Home</a></li>
      <li class = "nav-item"><a   class = "nav-link" routerLink="create" > Create Todos</a></li>
      <li class = "nav-item" routerLinkActive="active" > <a routerLink ="list">Todos list</a></li>
  </ul>
</nav> 

<router-outlet></router-outlet>
<!-- <img src="https://images.unsplash.com/photo-1546587348-d12660c30c50?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bmF0dXJhbHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" alt = "nature image" width="100%">  -->





