td,th{
    padding: 2px;
    border: 1px solid rgb(104, 221, 236);
    /* border-collapse: collapse; */
    /* outline-color:(43, 183, 226) ; */
    text-align: center;
}
table{

    border:solid #b9b6b6;
    border-collapse: collapse;
}

/* Lightbox Styles */
/* .lightbox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .lightbox-image {
    max-width: 100%;
    max-height: 100vh;
    object-fit: contain; /* Keep the aspect ratio and fit within the container */
  
  
  /* .close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
  
  .prev,
  .next {
    font-size: 40px;
    color: white;
    cursor: pointer;
    user-select: none;
  }
  
  .prev {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
  
  .next {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  
 
  body {
    font-family: Arial, sans-serif;
  }
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
    .gallery-image {
    max-width: 100px; 
    max-height: 100px; 
    cursor: pointer;
  }  
    */ 