<h1> First Component</h1>
<!-- 
<nav>
    <ul>
        <li><a routerLink = "/Home"> Home page</a></li>
        <li><a routerLink = "/First" > first-component</a></li>
        <li> <a routerLink = "/Second">second-component</a></li>
    </ul>
</nav> -->
<button (click)="navigateToHome()">Go to Home Page</button>

<img src="https://thumbs.dreamstime.com/b/spring-summer-nature-background-blooming-white-flowers-fly-butterfly-against-sunrise-sunlight-144289740.jpg" alt="Image 1" width="100%">
<router-outlet></router-outlet>
